
// Variables

// body

$body-font-family: 'Roboto', sans-serif;


//main

//figure

$figure-background-url: url('../images/logo.png') no-repeat 0 50px;

// header

$header-h1-color:           #e65C43;
$header-h2-color:           #fff;
$header-h3-color:           #666;

// content

$greybar-background-color:    #F5F6F6;
$content-h3-color:            #666;

// footer
$footer-background-color:     #30353D;
$footer-color:                #fff;

//footer social media


$social-media-one-background: url('../images/social-media.png') 0 0;

$social-media-two-background: url('../images/social-media.png') -38px 0;
$social-media-three-background: url('../images/social-media.png') -76px 0;
$social-media-four-background: url('../images/social-media.png') -114px 0;



// nav
$nav-ul-li-a-color:            #E65C43;
$nav-ul-li-a-hover-color:      #FFF;


$headline-background-color:    #F25C43;
$headline-h1-color:            #FFF;


$media-header-h3-color:        #fff;